[Unit]
Description=Honey TELNET

[Service]
User=root
WorkingDirectory=/opt/honey
ExecStart=/bin/bash -c 'while true; do nc -vnlp 23 < /opt/honey/banners/23.txt 1>> /opt/honey/logs/23.log 2>> /opt/honey/logs/23.log; echo $(date) >> /opt/honey/logs/23.log ; done'

[Install]
WantedBy=multi-user.target
